<!-- If game == true then show div, else hide -->
<div ng-show="game">
  <div class="row">
    <div class="col-md-6">
      <p>The Game Has started.</p>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <h5>Team One Score</h5>

          <!-- If firstHandGame == false then hide div, else show -->
          <div ng-hide="firstHandGame">
            <p>Team One Bid</p>
            <input ng-model="scoreOneBid" type="text">
          </div>
          <p>Team One Books</p>
          <input ng-model="scoreOneBooks" type="text">
        </div>
        <div class="col-md-6">
          <h5>Team Two Score</h5>

          <!-- If firstHandGame == false then hide div, else show -->
          <div ng-hide="firstHandGame">
            <p>Team Two Bid</p>
            <input ng-model="scoreTwoBid" type="text">
          </div>
          <p>Team Two Books</p>
          <input ng-model="scoreTwoBooks" type="text">
        </div>
      </div>
      <hr>
      <button ng-click="submitScore()">Submit Score</button>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <h1>Team 1</h1>
          <p ng-repeat="score in teamOneScores">{{score.score}}</p>
          <p>Total: {{teamOneTotal()}}</p>
        </div>
        <div class="col-md-6">
          <h1>Team 2</h1>
          <p ng-repeat="score in teamTwoScores">{{score.score}}</p>
          <p>Total:  {{teamTwoTotal()}}</p>
        </div>
      </div>  
    </div>
  </div>
</div>

<!-- If game == false then show div, else hide -->
<div ng-hide="game">
  <button ng-click="startGame()">Start Game</button>
</div>